<div class="container_ouco">
  <img
    class="icone_ouco"
    src="../../../../assets/img/som.gif"
    alt="ouvir"
  />
</div>

<div class="img-container">
  <img src="../../../assets/img/logo_frances.png" alt="logo_frances_ht" />
</div>

<h2 class="title">Treine a sua audição <span>em Francês</span></h2>

<div class="speed-control">
  <label for="speakingSpeed">Velocidade de fala:</label>
  <input type="range" id="speakingSpeed" name="speakingSpeed" min="0.5" max="2" step="0.1" [(ngModel)]="speakingSpeed" (change)="onSpeedChange($event)">
  <span>{{ speakingSpeed }}</span>
</div>

<div class="translate-container">
  <div class="input_container">
    <input type="text" [(ngModel)]="word" placeholder="Digite uma palavra ou uma frase em francês">
  </div>

  <!--<h4 class="meu_idioma"> Idioma <span class="arrow">---</span></h4>-->
  <div class="select">
    <select class="select-frances" [(ngModel)]="language">
      <!--<option value="en">Inglês</option>-->
      <option value="fr">Francês</option>
    </select>
  </div>
  <div class="button">
    <button (click)="speakWord()">Pronunciar</button>
  </div>
</div>


<h2 class="clique_ouça"><span>Passe o mouse nessas fotos</span> e ouça</h2>
<div class="image-container">

  <div class="card" (mouseover)="onImageClick('Courir')">
    <img src="../../../assets/img/correr.jpg" alt="Courir">
    <div class="spoken-word" *ngIf="spokenWord === 'Courir'">{{ spokenWord }}</div>
    <!--<button class="listen-button" (mouseover)="speakDescription('Courir')">Escute</button>-->
  </div>

  <div class="card" (mouseover)="onImageClick('Marcher')">
    <img src="../../../assets/img/caminhar.jpg" alt="Caminhar">
    <div class="spoken-word" *ngIf="spokenWord === 'Marcher'">{{ spokenWord }}</div>
    <!--<button class="listen-button" (mouseover)="speakDescription('Marcher')">Escute</button>-->
  </div>

  <div class="card" (mouseover)="onImageClick('Cuisiner')">
    <img src="../../../assets/img/cozinhar.jpg" alt="Cozinhar">
    <div class="spoken-word" *ngIf="spokenWord === 'Cuisiner'">{{ spokenWord }}</div>
    <!--<button class="listen-button" (mouseover)="speakDescription('Cuisiner')">Escute</button>-->
  </div>

  <div class="card" (mouseover)="onImageClick('Piloter')">
    <img src="../../../assets/img/dirigir.jpg" alt="Dirigir">
    <div class="spoken-word" *ngIf="spokenWord === 'Piloter'">{{ spokenWord }}</div>
    <!--<button class="listen-button" (mouseover)="speakDescription('Piloter')">Escute</button>-->
  </div>

</div>
<!--<div class="footer">
  <strong>Copyright &copy; 2024 <a href="">Francês com três nativos</a>.</strong>
  All rights reserved.
</div>-->
