<nav class="nav-header-container">
  <ul class="nav-header-links">
    <li class="nav-header-itens">
      <a [routerLink]="['/']">HOME</a>
    </li>
    <li class="nav-header-itens">
      <a [routerLink]="['/translate']" routerLinkActive="active">OUVIR</a>
    </li>
    <li class="nav-header-itens">
      <a [routerLink]="['/new-note-card']" routerLinkActive="active">FALAR</a>
      <i class="fa-solid fa-microphone"></i>
    </li>
    <!--<li class="nav-header-itens">
      <a [routerLink]="['/dialogo']" routerLinkActive="active">Conversa simulada</a>
    </li>-->
  </ul>

  <ul class="nav-header-links ml-auto">
    <li class="nav-header-itens dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fas fa-bars"></i>
      </a>
    </li>
  </ul>
</nav>
