.nav-header-container {
  width: 100%;
  //background-color: #3b3b3b;
  //height: 50px;
  //margin-top: 0 auto;
}

.nav-header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.nav-header-itens {
  margin-right: 15px;
}

.nav-header-itens a {
  //color: blue;
}

.nav-header-itens a:hover {
  color: blue;
}

@media screen and (max-width: 768px) {
  .nav-header-links {
    justify-content: center;
  }

  .nav-header-itens {
    margin-right: 0;
  }
}
