.nav-header-container {
  width: 100%;
  border: 2px solid black;
}

.nav-header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.nav-header-itens {
  margin-right: 15px;
}

.icone_falar {
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

.icone_home {
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

.icone_orelha {
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

.icon-label {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.nav-header-itens a:hover {
  color: blue;
}

@media screen and (max-width: 768px) {
  .nav-header-links {
    justify-content: center;
  }

  .nav-header-itens {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-header-links {
    justify-content: center;
  }
}
