<div class="img-container">
  <img src="../../../assets/logo_frances.png" alt="logo_frances_ht" />
</div>
<h2 class="title">Treine a sua pronunciação em Francês</h2>
<div class="speed-control">
  <label for="speakingSpeed">Velocidade de fala:</label>
  <input type="range" id="speakingSpeed" name="speakingSpeed" min="0.5" max="2" step="0.1" [(ngModel)]="speakingSpeed" (change)="onSpeedChange($event)">
  <span>{{ speakingSpeed }}</span>
</div>

<div class="translate-container">
  <div class="input_container">
    <input type="text" [(ngModel)]="word" placeholder="Digite uma palavra ou texto">
  </div>
  <div class="select">
    <select [(ngModel)]="language">
      <!--<option value="en">Inglês</option>-->
      <option value="fr">Francês</option>
    </select>
  </div>
  <div class="button">
    <button (click)="speakWord()">Pronunciar</button>
  </div>
</div>


<h2 class="clique_ouça">Clique nessas fotos e ouça</h2>
<div class="image-container">

  <div class="card" (click)="onImageClick('Courir')">
    <img src="../../../assets/correr.jpg" alt="Courir">
    <button class="listen-button" (click)="speakDescription('Courir')">Escute</button>
  </div>
  <div class="card" (click)="onImageClick('Marcher')">
    <img src="../../../assets/caminhar.jpg" alt="Caminhar">
    <button class="listen-button" (click)="speakDescription('Marcher')">Escute</button>
  </div>
  <div class="card" (click)="onImageClick('Cuisiner')">
    <img src="../../../assets/cozinhar.jpg" alt="Cozinhar">
    <button class="listen-button" (click)="speakDescription('Cuisiner')">Escute</button>
  </div>
  <div class="card" (click)="onImageClick('Piloter')">
    <img src="../../../assets/dirigir.jpg" alt="Dirigir">
    <button class="listen-button" (click)="speakDescription('Piloter')">Escute</button>
  </div>
</div>
<div class="footer">
  <strong>Copyright &copy; 2024 <a href="">Francês com três nativos</a>.</strong>
  All rights reserved.
</div>
