<!--<h2 class="clique_ouça">Simule uma conversa entre duas pessoas</h2>
<div class="image-container">

  <div class="card" (click)="onImageClick('Marcher')">
    <img src="../../../assets/img/Isabela.png" alt="Caminhar">
    <div class="spoken-word" *ngIf="spokenWord === 'Marcher'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Marcher')">Escute</button>
  </div>

  <div class="card" (click)="onImageClick('Courir')">
    <img src="../../../assets/img/Ana.png" alt="Courir">
    <div class="spoken-word" *ngIf="spokenWord === 'Courir'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Courir')">Escute</button>
  </div>

  <div class="card" (click)="onImageClick('Cuisiner')">
    <img src="../../../assets/img/Jose.png" alt="Cozinhar">
    <div class="spoken-word" *ngIf="spokenWord === 'Cuisiner'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Cuisiner')">Escute</button>
  </div>

  <div class="card" (click)="onImageClick('Piloter')">
    <img src="../../../assets/img/Maria.png" alt="Dirigir">
    <div class="spoken-word" *ngIf="spokenWord === 'Piloter'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Piloter')">Escute</button>
  </div>

  <div class="card" (click)="onImageClick('Cuisiner')">
    <img src="../../../assets/img/Andressa.png" alt="Cozinhar">
    <div class="spoken-word" *ngIf="spokenWord === 'Cuisiner'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Cuisiner')">Escute</button>
  </div>

  <div class="card" (click)="onImageClick('Piloter')">
    <img src="../../../assets/img/Paulo.png" alt="Dirigir">
    <div class="spoken-word" *ngIf="spokenWord === 'Piloter'">{{ spokenWord }}</div>
    <button class="listen-button" (click)="speakDescription('Piloter')">Escute</button>
  </div>
</div>-->

