/* You can add global styles to this file, and also import other style files */
*{
  background-color: #000000;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman';
  //font-weight: bold;
  margin: 0;
}

.container_consultation {
  margin-top: 40px;
  text-align: center;
  background: none;
  top: 0;
}

.container_consultation > img {
  margin-top: -3rem;
  width: 120px;
  border-radius: 50%;
  border: 3px solid blue;
}
